<!-- Describe task in general -->

<p>
Код Хаффмана - це особливий тип оптимального префіксного коду, який зазвичай використовується для стиснення даних без втрат. 
Алгоритм був розроблений Девідом Хаффманом (David A. Huffman), коли він був аспірантом в Массачусетському технологічному інституті, і опублікований в 1952 році.</p>
    
<p>
Результат роботи алгоритму Хаффмана можна розглядати як кодову таблицю змінної довжини для кодування вихідного символу.
Алгоритм формує цю таблицю на основі оцінок ймовірності або частоти появи (ваги) для кожного можливого значення вихідного символу.
Як і в інших методах ентропійного кодування, більш поширені символи зазвичай представлені меншою кількістю бітів, ніж менш поширені.
</p>

<p>
Найпростіший алгоритм побудови використовує пріоритетну чергу, де вузлу з найнижчою частотою надається найвищий пріоритет.
</p>
<ul>
<li>Для кожного символу створіть листкову вершину і додайте її до черги пріоритетів.</li>
<li>Поки в черзі є більше однієї вершини:</li>
  <ul>
  <li>Видаліть дві вершини з найвищим пріоритетом (найнижчою частотою) з черги.</li>
  <li>Створіть новий внутрішній вузол з цими двома вузлами як дочірніми і з частотою, що дорівнює сумі частот цих двох вузлів.</li>
  <li>Додайте нову вершину до черги.</li>
  </ul>
<li>Вузол, що залишився, є кореневою вершиною, і дерево завершено.</li>
</ul>

<p>
Варто <b>important to note</b>, що для нашої задачі вузли з однаковою частотою мають різні пріоритети. 
Символи з меншим ASCII-кодом мають вищий пріоритет, наприклад, 'A' має вищий пріоритет, ніж 'B', а 'DZ' має вищий пріоритет, ніж 'E'.
</p>

<ul>
<li>Позначте з'єднання між вузлами 0 і 1 (з'єднання з вузлом з вищим пріоритетом - 0, а з іншим - 1).</li>
<li>Цифри на шляху від кореневої вершини до листка утворюють код символу листка.</li>
<li>Результатом для нашої задачі є вихідний рядок, у якому всі символи замінено на їхні коди.</li>
</ul>
    
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}Huffman_coding_visualisation.svg" alt="Huffman_coding_visualisation" style="max-height: 384px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Рядок <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Рядок <span>(str{% if is_js %}ing{% endif %})</span>.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>Як використовується:</strong>
    <i>Зазвичай використовується для стиснення даних без втрат.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Умова:</strong>
    <i>Задано рядок максимальної довжини 32000. Рядок містить літери та пробіли (a-z, A-Z, " ").</i>
</p>

<p><i>Ідея місії була взята з місцевої шкільної олімпіади для дітей.</i></p>
<p>Скриншот від Cmglee для <a href="https://commons.wikimedia.org/w/index.php?curid=59931033">wiki.</a></p>
